.app-container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f9;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #0e76a8;
  color: white;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #0e76a8;
  color: white;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

button {
  background-color: #0e76a8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #054a66;
}
